extends layout


block content
    div.brandStory 
        div.title 标题： #{data.title.text}
        div.intro 介绍信息： #{data.title.intro}
        div.mainPic 主图 #{data.mainPic.src}
        div.addr 地址： #{data.map.name}
        
        div.content 
             each item in data.content
                if item !== undefine 
                    if item.tag === 'p'
                        p #{item.text}
                    if item.tag === 'figure'
                        figure 
                            img(src='#{item.src}')
                    if item.tag === 'div'
                        each v in item.imgs
                            div 
                                figure 
                                    img(src='#{v.src}')