extends layout
block content
    select#select
        each item in select
            if regions === item.regions
                option(value=item.regions selected = "selected")   #{item.name}热门餐厅
            else
                option(value=item.regions)   #{item.name}热门餐厅

    ul.list
        each item in list
            li
                button(class='J-gather' item-type='1' item-gathered='#{item.gathered ? 1 : 0}' item-id='#{item.id}') #{item.gathered ? '已采集' : '未采集'}
                a(href=item.restaurantUrl)
                    p #{item.name}
                        p #{item.nameCn}
                        p
                            img(src=item.mainPic)
        //each item in list
        //    li
        //        p Heekcaa Siam Discovery ชั้น 2
        //        p 我2 Heekcaa暹罗发现
        //        p
        //            img(src="https://img.wongnai.com/p/l/2017/09/18/9c84db5333a942bc92e8e84415a96a18.jpg" width=100 height=100)
    script(src='js/common.js')
    script(src='js/hot.js')
