extends common/layout

block content

    button(class='J-gather' item-type='0' item-gathered='#{data.gathered ? 1 : 0}' item-id='#{data.id}') #{data.gathered ? '已采集' : '未采集'}

    button(class='J-style-toggle') 有样式

    div.interest.container(style="display:block;").s1
        include common/top
        //div.title 标题： #{data.title.text}
        //div.url  原始网站地址:
        //    a(href='#{data.url}' target='_blank') #{data.url}
        //
        //div.intro 介绍信息： #{data.title.intro}
        //div.addr 地址： #{data.map.name}
        //div.tags 分类： #{data.tags}
        p
            img(src='#{data.mainPic.src}' width='100%')
        each item in data.content
            if item.tag === 'p'
                p #{item.text}
            if item.tag === 'figure'
                img(src='#{item.src}' width='100%')
            if item.tag === 'div'
                each v in item.imgs
                    img(src='#{v.src}' width='100%')

        //p(style='text-align:center;')
            strong(style='background-color: rgb(108, 109, 112);color: rgb(255, 255, 255);font-size: 15px;margin-top:15px;') 不要错过
        //p(style='text-align:center') #{data.tags}
        center(style='text-align:center;margin-top:15px;')
            strong(style='background-color: rgb(108, 109, 112);color: rgb(255, 255, 255);font-size: 15px;margin-top:15px;') 餐厅信息
        center(style='text-align:center;line-height: 2;')
            strong 餐厅名称：
            span #{restaurant.nameCn}(#{restaurant.name})
        center(style='text-align:center;line-height: 2;')
            strong 地址：
            span #{restaurant.position.name}
            br
            span (请复制到谷歌地图查找)
        center(style='text-align:center;line-height: 2;')
            strong 电话：
            span #{restaurant.tel}
        center(style='text-align:center;line-height: 2;')
            strong 价格范围：
            span #{restaurant.extraInfo.extraInfoGen.price}
        center(style='text-align:center;line-height: 2;')
            strong 开放时间：
            span #{restaurant.extraInfo.extraInfoGen.time}


        include common/bottom

    div.interest.container(style="display:none;").s2
        include common/top
        //div.title 标题： #{data.title.text}
        //div.url  原始网站地址:
        //    a(href='#{data.url}' target='_blank') #{data.url}
        //
        //div.intro 介绍信息： #{data.title.intro}
        //div.addr 地址： #{data.map.name}
        //div.tags 分类： #{data.tags}
        p
            img(src='#{data.mainPic.src}' width='100%')
        each item in data.content
            if item.tag === 'p'
                p #{item.text}
            if item.tag === 'figure'
                img(src='#{item.src}' width='100%')
            if item.tag === 'div'
                each v in item.imgs
                    img(src='#{v.src}' width='100%')

        //p(style='text-align:center;')
            strong(style='background-color: rgb(108, 109, 112);color: rgb(255, 255, 255);font-size: 15px;margin-top:15px;') 不要错过
        //p(style='text-align:center') #{data.tags}
        strong(style='font-size: 15px;margin-top:15px;') [餐厅信息]
        p 餐厅名称：#{restaurant.nameCn}(#{restaurant.name})
        p 地址：#{restaurant.position.name}
            br
            span (请复制到谷歌地图查找)
        p 电话：#{restaurant.tel}
        p 价格范围：#{restaurant.extraInfo.extraInfoGen.price}
        p 开放时间：#{restaurant.extraInfo.extraInfoGen.time}


        include common/bottom
    script(src='js/common.js')
    script(type='text/javascript').
        var _data = #{data}

