extends common/layout

block content
    button(class='J-gather' item-type='1' item-gathered='#{restaurant.gathered ? 1 : 0}' item-id='#{restaurant.id}') #{restaurant.gathered ? '已采集' : '未采集'}
    button(class='J-style-toggle') 有样式
    p url :  #{restaurant.url}
    div.container(style="display:block;").s1
        include common/top

        // 餐厅图片
        div
            img(src='#{restaurant.imgs13[0].src}' width='100%')
            img(src='#{restaurant.imgs14[0].src}' width='100%')
            img(src='#{restaurant.imgs14[1].src}' width='100%')


        center(style='text-align:center;margin-top:15px;')
            strong(style='background-color: rgb(108, 109, 112);color: rgb(255, 255, 255);font-size: 15px;')  达人推荐
        div
            img(src='#{restaurant.daren.userImg}' width='50%')
            p(style='') #{restaurant.daren.userName}
            p(style='') #{restaurant.daren.content}
        each item in restaurant.menuRecommend
            img(src='#{item.imgs[0].src}' width='100%')
            center(style='text-align:center;font-size:13px;color:#888;') #{item.nameCn}
            center(style='text-align:center;font-size:13px;color:#888;') (#{item.name})


        center(style='text-align:center;margin-top:15px;')
            strong(style='background-color: rgb(108, 109, 112);color: rgb(255, 255, 255);font-size: 15px;margin-top:15px;') 餐厅信息
        center(style='text-align:center;line-height: 2;')
            strong 餐厅名称：
            span #{restaurant.nameCn}(#{restaurant.name})
        center(style='text-align:center;line-height: 2;')
            strong 地址：
            span #{restaurant.position.name}
            br
            span (请复制到谷歌地图查找)
        center(style='text-align:center;line-height: 2;')
            strong 电话：
            span #{restaurant.tel}
        center(style='text-align:center;line-height: 2;')
            strong 价格范围：
            span #{restaurant.extraInfo.extraInfoGen.price}
        center(style='text-align:center;line-height: 2;')
            strong 开放时间：
            span #{restaurant.extraInfo.extraInfoGen.time}

        //p(style='text-align:center;margin-top:15px;')
        //    strong(style='background-color: rgb(108, 109, 112);color: rgb(255, 255, 255);font-size: 15px;margin-top:15px;') 餐厅提供服务
        //p(style='text-align:center;')
        //    each  item in restaurant.extraInfo.extraInfoList
        //        span #{item}

        //p url :  #{restaurant.url}
        //hr
        //p name , // 店名 #{restaurant.name}
        //hr
        //p start, // 评星 #{restaurant.start}
        //hr
        //p collectionCount, // 收藏数量 #{restaurant.collectionCount}
        //hr
        //p classification, //分类 #{restaurant.classification}
        //hr
        //p mainPic, // 主图
        //    img(src='#{restaurant.mainPic}' width=250 height=250)
        //hr
        //p position, // 位置信息 #{restaurant.position.name}
        //hr
        //p tel, // 电话 #{restaurant.tel}
        //hr
        //p menu, // 菜单 #
        //    ul.menu
        //        each item in restaurant.menu
        //            li
        //                img(src='#{item.src}' width=250 height=250)
        //                span   #{item.title}
        //hr
        //p 菜品推荐
        //    div
        //        each item in restaurant.menuRecommend
        //            div
        //                p #{item.name}
        //                p
        //                    each img in item.imgs
        //                        img(src='#{img.src}' width=100 height=100)
        //hr
        //p special, // 特别（非必选） #{restaurant.special}
        //hr
        //if restaurant.brandStory.length > 0
        //    p brandStory, // 特别（非必选）
        //        a(href='#{restaurant.brandStoryUrl}')
        //            span 品牌故事
        //hr
        //p imgs, // 餐厅图片
        //    ul.res
        //        each item in restaurant.imgs
        //            li
        //                img(src='#{item.src}' width=250 height=250)
        //hr
        //p extraInfo, // 额外信息
        //    p 配置
        //        ul
        //            each  item in restaurant.extraInfo.extraInfoList
        //                li #{item}
        //    p 营业时间 #{restaurant.extraInfo.extraInfoGen.time}
        //    p 座位数 #{restaurant.extraInfo.extraInfoGen.site}
        //    p 价格 #{restaurant.extraInfo.extraInfoGen.price}
        //hr
        //p recommend, // 会员推荐 #{restaurant.recommend}
        //hr
        //p fit, // 这家店适合 #{restaurant.fit}
        //hr
        //p comments, // 评论
        //    ul
        //        each  item in restaurant.comments
        //            li
        //                p 名称 #{item.title}
        //                p 评星 #{item.start}
        //                p 用户头像
        //                    img(src='#{item.userImg}' width=50 height=50)
        //                p 用户姓名 #{item.userName}
        //                p  #{item.menu}
        //                p 评论内容 #{item.content}
        //                p 用户图片
        //                    ul
        //                        each  i in item.imgs
        //                            li
        //                                img(src='#{i.src}' width=250 height=250)
        //hr
        //p commentsStart, // 评分 #{JSON.stringify(restaurant.commentsStart)}
        //hr
        include common/bottom

    div.container(style="display:none;").s2
        include common/top

        // 餐厅图片
        div
            img(src='#{restaurant.imgs13[0].src}' width='100%')
            img(src='#{restaurant.imgs14[0].src}' width='100%')
            img(src='#{restaurant.imgs14[1].src}' width='100%')


        p(style='text-align:center;margin-top:15px;')
            strong('font-size: 15px;')  [达人推荐]
        div
            img(src='#{restaurant.daren.userImg}' width='50%')
            p(style='') #{restaurant.daren.userName}
            p(style='') #{restaurant.daren.content}
        each item in restaurant.menuRecommend
            img(src='#{item.imgs[0].src}' width='100%')
            p(style='text-align:center;line-height: 1.2em;font-size:13px;color:#888;') #{item.nameCn}
            p(style='text-align:center;line-height: 1.2em;font-size:13px;color:#888;') (#{item.name})


        strong(style='font-size: 15px;margin-top:15px;') [餐厅信息]
        p(style='line-height: 2;') 餐厅名称：#{restaurant.nameCn}(#{restaurant.name})
        p(style='line-height: 2;') 地址：#{restaurant.position.name}
            br
            span (请复制到谷歌地图查找)
        p(style='line-height: 2;') 电话：#{restaurant.tel}
        p(style='line-height: 2;') 价格范围：#{restaurant.extraInfo.extraInfoGen.price}
        p(style='line-height: 2;') 开放时间：#{restaurant.extraInfo.extraInfoGen.time}
        include common/bottom
    script(type='text/javascript').
      var _data = #{restaurant}

    //script(type='text/javascript').
    //  tjs.translate('test').then(result => {
    //    console.log(result)
    //  })


    script(src='js/common.js')

