doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/lib/jquery.js')
    //script(src='/lib/md5.js')
    //script(src='/lib/translator.js')
  body
    block content
